@import "../../node_modules/bootstrap/scss/bootstrap";

.head {
  width: 100%;
  height: 80px;
  background: #d22aae;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 50px;

  .wb-title {
    font-size: 24px;
    color: #ffffff;
  }

  .form-control {
    width: 700px;
    opacity: 0.3;
    border-radius: 20px;
  }

  .btn-primary {
    color: #d22aae;
    background: #ffffff;
    border-color: #ffffff00;
    font-weight: 600;
    border-radius: 20px;
    width: 150px;
}
}

.w-100 {
  height: 350px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators [data-bs-target], .active {
  background-color:#931b79
}

.goods {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .goods-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px;
  }

    .example-cards__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .example-card__product {
        width: 170px;
        height: 230px;
        background-color: gray;
        border-radius: 15px;
        border: #d22aae 2px solid;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
  
        &-btn {
          color: #ffffff;
          background: #ffffff30;
          border-color: #ffffff00;
          border-radius: 20px;
          width: 80%;
          font-size: 12px;
        }

        &-price {

        }
      }
    }

.modal-body {
  display: flex;
  justify-content: space-between;
}